<div class="tts-apps">
	<h1>Name the 50 US States!</h1>

	<div>
		<%= @message %>
	</div>
	<br />

	<%= render 'form' %>

	<% i = 1 %>
	<% @states.each do |state| %>
		<%= "#{state.id}. #{state.name}" %><br />
		<% i += 1 %>
	<% end %>
</div>

<script>
document.getElementById("topbar").style.display = "none";
</script>