<div class="tts-apps">
	<h1>Tech Talent South Apps</h1>
	<p>Welcome TTS'ers! Below you'll find working examples of web apps we have gone over in class or in the labs.</p>
	<div>
		<p><a href="http://marta-app.herokuapp.com" class="appslinks">MARTA API app</a></p>
		<p><%= link_to "Quiz app", quizzes_path, :class => "applinks" %></p>
	</div>
	<p>You can find the code for these apps at my <a href="https://github.com/argroch">Github</a>.</p>
</div>

<script>
document.getElementById("topbar").style.display = "none";
</script>