<div class="tts-apps">
	<h1>Name the Cities Where TTS Has a Campus</h1>

	<div>
		<%= @message %>
	</div>
	<br />

	<%= render 'form' %>

	<% i = 1 %>
	<% @cities.each do |city| %>
		<%= "#{i}. #{city.name.capitalize}" %><br />
		<% i += 1 %>
	<% end %>
</div>

<script>
document.getElementById("topbar").style.display = "none";
</script>