<!DOCTYPE html>
<html>
<head>
  <title>Aaron Groch, Web Developer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  <%= csrf_meta_tags %>

</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Aaron R. Groch</a>
    </div>

    <div class="collapse navbar-collapse menu-anchor" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active menu-pad"><a href="#about">Who I Am</a></li>
        <li class="menu-pad"><a href="#background">My Background</a></li>
        <li class="menu-pad"><a href="#webdesign">Web Design &amp; Development</a></li>
        <li class="menu-pad"><a href="#sampapps">Web Apps</a></li>

<!--         <li class="dropdown menu-pad">
          <a href="#sampapps" class="dropdown-toggle" data-toggle="dropdown">Web Apps <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Your Bus Is Coming</a></li>
            <li class="divider"></li>
            <li><a href="#">Sell It to Me</a></li>
            <li class="divider"></li>
            <li><a href="#">Fun (?) With JavaScript</a></li>
          </ul>
        </li>
 -->      
      </ul>

    </div>
  </div>
</nav>

<%= yield %>

</body>
</html>
