<!DOCTYPE html>
<html>
<head>
  <title>Aaron Groch, Web Developer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  <%= csrf_meta_tags %>

  <meta name="google-site-verification" content="j0SW0u-kOTYUfkO7PkO75MD7T5GoarcAL5RudafrWss" />

</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="topbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Aaron R. Groch</a>
    </div>

    <div class="collapse navbar-collapse menu-anchor" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active menu-pad"><a href="#about">Who I Am</a></li>
        <li class="menu-pad"><a href="#background">My Background</a></li>
        <li class="menu-pad"><a href="#webdesign">Web Design &amp; Development</a></li>
        <li class="menu-pad"><a href="#sampapps">Web Apps</a></li>     
      </ul>

    </div>
  </div>
</nav>

<%= yield %>

<footer>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-54886239-1', 'auto');
    ga('send', 'pageview');
  </script>
</footer>

</body>
</html>
